<header>
  <h2>{{ project.title }}</h2>
    <div class="addon">
      <form action="/app/project/{{project.id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Excluir Projeto</button>
      </form>
    </div>
</header>
