{% block body %}
<nav>
  <div class="sessions">
    {% for section in project.Sections %}
      <a href="/app/project/{{activeProjectId}}/section/{{section.id}}"
        class="{% if activeSectionId == section.id %}active{% endif %}" >
        {{section.title}}
      </a>
    {% endfor %}
    <button  data-modal-open="#new-section" class="btn">Adicionar Seção</button>
  </div>
</nav>
  <div  class="modal" id="new-section">
    <form method="POST" action="/app/project/{{activeProjectId}}/section" class="modal-content">
    <h2>Criando Nova Seção</h2>
      <input type="text" name="title" placeholder="titulo">
      <div class="container-content">
        <textarea name="description" class="mde" placeholder="Texto"></textarea>
      </div>
      <button type="submit">Salvar</button>
      <a href="#" data-modal-close="#new-section">Cancelar</a>
    </form>
  </div>
{% endblock%}
