{% extends 'layouts/default.njk' %} {% block body %}
<div class="wrapper">
  {% include 'partials/header.njk' %}
    <section id="main">
      <div class="container">
      {% include 'partials/projectHeader.njk' %}
        <section id="content">
        {% include 'partials/sections.njk'%}

          <article>
            <div class="project-header">
              <h1>{{section.title}}</h1>
              <form action="/app/project/{{activeProjectId}}/section/{{activeSectionId}}?_method=DELETE" method="post">
                <a href="" type="submit" class="delete">Remover seção</a>
              </form>
            </div>
            {{ section.description }}
          </article>

        </section>
      </div>
    </section>
  </div>
{% endblock%}

